# World Bank API
WB_API_BASE_URL=https://api.worldbank.org/v2
WB_INDICATOR_CODES=NY.GDP.PCAP.KD,SP.POP.TOTL,SH.XPD.CHEX.GD.ZS,SE.XPD.TOTL.GD.ZS,EG.ELC.ACCS.ZS
WB_FORMAT=json
WB_COUNTRY_PER_PAGE=300
WB_INDICATOR_PER_PAGE=100
WB_MAX_PAGES=300
WB_MRV=10
WB_REQUEST_TIMEOUT=30
WB_RETRY_ATTEMPTS=3
WB_RETRY_SLEEP_SECONDS=2

# Transform rules
MIN_YEAR=2010
MAX_YEAR=2026
ALLOWED_INCOME_GROUPS=LIC,MIC,HIC

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
